<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Sorteio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body class="bg-gray-100 h-screen flex items-center justify-center">

    <div id="app" class="max-w-4xl mx-auto bg-white p-6 rounded-md shadow-md">

        <!-- Cabeçalho -->
        <header class="mb-6">
            <h1 class="text-2xl font-semibold text-center"><i class="fas fa-dice text-blue-500 mr-2"></i>Sistema de Sorteio Online</h1>
        </header>

        <!-- Parte 1: Escolher o Tipo de Sorteio -->
        <div v-if="step === 1">
            <h2 class="text-lg font-semibold mb-4 text-center">Escolha o Tipo de Sorteio</h2>
            <div class="flex flex-wrap -mx-2">
                <div class="w-full md:w-1/2 px-2 mb-4">
                    <button @click="selectType('number')" class="bg-blue-500 text-white px-4 py-2 w-full"><i class="fas fa-dice mr-2"></i>Sorteio por Números</button>
                </div>
                <div class="w-full md:w-1/2 px-2 mb-4">
                    <button @click="selectType('name')" class="bg-blue-500 text-white px-4 py-2 w-full"><i class="fas fa-user mr-2"></i>Sorteio por Nomes</button>
                </div>
            </div>
            <!-- <button @click="selectType('number')" class="bg-blue-500 text-white px-4 py-2 w-full mb-4"><i class="fas fa-dice mr-2"></i>Sorteio por Números</button>
            <button @click="selectType('name')" class="bg-blue-500 text-white px-4 py-2 w-full"><i class="fas fa-user mr-2"></i>Sorteio por Nomes</button> -->
        </div>

        <!-- Parte 2: Sorteio por Números -->
        <div v-if="step === 2 && selectedType === 'number'">
            <!-- Sorteio por Números -->
            <div>
                <h2 class="text-lg font-semibold mb-4 text-center">Sorteio por Números</h2>
                <div class="flex items-center mb-4">
                    <label for="quantity" class="mr-3"><i class="fas fa-question-circle text-gray-500 cursor-pointer mr-5" @click="showHelp('quantity')"></i>Quantidade de Números:</label>
                    <input v-model="quantity" type="number" id="quantity" class="border p-2 w-16 text-center" />
                </div>
                <div class="flex items-center mb-4">
                    <label for="minNumber" class="mr-3"><i class="fas fa-question-circle text-gray-500 cursor-pointer mr-5" @click="showHelp('minNumber')"></i>Número Mínimo:</label>
                    <input v-model="minNumber" type="number" id="minNumber" class="border p-2 w-16 text-center" />
                </div>
                <div class="flex items-center mb-4">
                    <label for="maxNumber" class="mr-3"><i class="fas fa-question-circle text-gray-500 cursor-pointer mr-5" @click="showHelp('maxNumber')"></i>Número Máximo:</label>
                    <input v-model="maxNumber" type="number" id="maxNumber" class="border p-2 w-16 text-center" />
                </div>
                <div class="flex items-center mb-4">
                    <label for="repeat" class="mr-3"><i class="fas fa-question-circle text-gray-500 cursor-pointer mr-5" @click="showHelp('repeatNumbers')"></i>Repetir Números:</label>
                    <input v-model="repeatNumbers" type="checkbox" id="repeat" class="ml-2" />
                </div>

                <button @click="drawNumbers" class="bg-blue-500 text-white px-4 py-2 w-full"><i class="fas fa-dice mr-2"></i>Sortear Números</button>

                <div v-if="ultimoNumeroSorteado !== ''" class="mt-4">
                    <h3 class="text-md font-semibold mb-2">Último Número Sorteado:</h3>
                    <div class="text-5xl font-bold text-center">{{ ultimoNumeroSorteado }}</div>
                </div>

                <div class="mt-4" v-if="historyNumbers.length > 0">
                    <h3 class="text-md font-semibold mb-2">Histórico de Números Sorteados:</h3>
                    <div class="mx-5">{{ historyNumbers.join(' - ') }}</div>
                </div>

            </div>
        </div>

        <!-- Parte 3: Sorteio por Nomes -->
        <div v-if="step === 2 && selectedType === 'name'">
            <!-- Restante do código para sorteio por nomes -->

            <!-- Sorteio por Nomes -->
            <div class="mt-8">
                <h2 class="text-lg font-semibold mb-4 text-center">Sorteio por Nomes</h2>
                <div class="mb-4">
                    <label for="names" class="block"> <i class="fas fa-question-circle text-gray-500 cursor-pointer mr-5" @click="showHelp('namesInput')"></i>Inserir Nomes (separados por vírgula):</label>
                    <textarea v-model="namesInput" id="names" class="border p-2 w-full" rows="3"></textarea>

                </div>
                <div class="flex items-center mb-4">
                    <label for="repeatNames" class="mr-2"><i class="fas fa-question-circle text-gray-500 cursor-pointer mr-5" @click="showHelp('repeatNames')"></i>Repetir Nomes:</label>
                    <input v-model="repeatNames" type="checkbox" id="repeatNames" class="ml-2" />
                </div>
                <button @click="drawNames" class="bg-blue-500 text-white px-4 py-2 w-full"><i class="fas fa-dice mr-2"></i>Sortear Nomes</button>
                <div class="mt-4">
                    <h3 class="text-md font-semibold mb-2">Histórico de Nomes Sorteados:</h3>
                    <ul class="list-disc pl-4">
                        <li v-for="name in historyNames">{{ name }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Resetar Sorteios -->

        <button v-if="step === 2" @click="resetDraws" class="bg-red-500 text-white px-4 py-2 w-full mt-4"><i class="fas fa-undo-alt mr-2"></i>Resetar Sorteios</button>
        <button v-if="step === 2" @click="goToHome" class="bg-gray-500 text-white px-4 py-2 w-full mt-2"><i class="fas fa-home mr-2"></i>Voltar à Página Inicial</button>
        <!-- Rodapé -->
        <footer class="mt-8">
            <p class="text-sm text-gray-500 text-center">Feito com ♥ por hotwyl | Sistema de Sorteio Online &reg; Todos os direitos reservados | &copy; <a href="#" target="_blank">WILLFROMBRASIL</a>™ Company Inc <span>{{ year }}</p>
        </footer>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    step: 1,
                    selectedType: null,
                    quantity: 1,
                    minNumber: 1,
                    maxNumber: 100,
                    repeatNumbers: false,
                    namesInput: '',
                    resultado: '',
                    repeatNames: false,
                    historyNumbers: [],
                    historyNames: [],
                    ultimoNumeroSorteado: '',
                    year: new Date().getFullYear(),
                };
            },
            methods: {
                selectType(type) {
                    this.selectedType = type;
                    this.step = 2;
                },
                adicionarAoHistorico(nome) {
                    this.historicoSorteados.push(nome);
                },
                adicionarAoHistoryNumbers(numero) {
                    this.historyNumbers.push(numero);
                },
                drawNumbers() {
                    // Implemente a lógica de sorteio por números aqui

                    // Verificar se a quantidade de números é válida
                    if (this.quantity <= 0) {
                        Swal.fire({
                            title: 'Quantidade Inválida',
                            text: 'Por favor, insira uma quantidade válida de números.',
                            icon: 'warning',
                            confirmButtonText: 'OK',
                            timer: 2500,
                            timerProgressBar: true,
                            showConfirmButton: true
                        });
                        return;
                    }

                    // Verificar se o range é válido
                    if (this.minNumber >= this.maxNumber) {
                        Swal.fire({
                            title: 'Range Inválido',
                            text: 'O número mínimo deve ser menor que o número máximo.',
                            icon: 'warning',
                            confirmButtonText: 'OK',
                            timer: 2500,
                            timerProgressBar: true,
                            showConfirmButton: true
                        });
                        return;
                    }

                    // Limpar histórico de números anteriores
                    // this.historyNumbers = [];

                     // Lógica para realizar o sorteio
                    //  if (this.historicoSorteados.length === 0) {
                    //     this.resultado = 'Não há participantes para sortear.';
                    //     return;
                    // }

                    let sorteadonow = [];
                    // Lógica de sorteio por números dentro do range definido
                    for (let i = 0; i < this.quantity; i++) {
                        let randomNumber;

                        // Gerar número aleatório dentro do range com ou sem repetição
                        do {
                            randomNumber = Math.floor(Math.random() * (this.maxNumber - this.minNumber + 1)) + this.minNumber;
                        } while (!this.repeatNumbers && this.historyNumbers.includes(randomNumber));

                        // Adicionar número sorteado ao histórico
                        this.historyNumbers.push(randomNumber);
                        // this.adicionarAoHistoryNumbers(this.ultimoNumeroSorteado);

                        sorteadonow.push(randomNumber);

                        // Atualizar o último número sorteado
                        this.ultimoNumeroSorteado = sorteadonow.join(' - ');
                    }

                    this.resultado = `Parabéns, ${this.sorteadonow}! Você ganhou no sorteio!`;

                    // Informar ao usuário os números sorteados
                    Swal.fire({
                        title: 'Número Sorteado',
                        html: `<h2>${sorteadonow}</h2>`,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        timer: 2500,
                        timerProgressBar: true,
                        showConfirmButton: true
                    });
                                    
                },
                drawNames() {
                    // Implemente a lógica de sorteio por nomes aqui

                    // Verificar se a entrada de nomes é válida
                    const namesArray = this.namesInput.split(',').map(name => name.trim());
                    if (namesArray.length === 0 || (namesArray.length === 1 && namesArray[0] === '')) {
                        Swal.fire({
                            title: 'Entrada Inválida',
                            text: 'Por favor, insira pelo menos um nome para o sorteio.',
                            icon: 'warning',
                            confirmButtonText: 'OK',
                            timer: 2500,
                            timerProgressBar: true,
                            showConfirmButton: true
                        });
                        return;
                    }

                    // Limpar histórico de nomes anteriores
                    this.historyNames = [];

                    // Lógica de sorteio por nomes
                    for (let i = 0; i < this.quantity; i++) {
                        let randomIndex;

                        // Gerar índice aleatório com ou sem repetição
                        do {
                            randomIndex = Math.floor(Math.random() * namesArray.length);
                        } while (!this.repeatNames && this.historyNames.includes(namesArray[randomIndex]));

                        // Adicionar nome sorteado ao histórico
                        this.historyNames.push(namesArray[randomIndex]);
                    }

                    // Informar ao usuário os nomes sorteados
                    Swal.fire({
                        title: 'Nomes Sorteados',
                        html: `<p>${this.historyNames.join(', ')}</p>`,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        timer: 2500,
                        timerProgressBar: true,
                        showConfirmButton: true
                    });
                },
                resetDraws() {
                    // Implemente a lógica de resetar sorteios aqui

                    // Limpar histórico de números se o tipo de sorteio for por números
                    if (this.selectedType === 'number') {
                        this.historyNumbers = [];
                        this.ultimoNumeroSorteado = '';
                    }

                    // Limpar histórico de nomes se o tipo de sorteio for por nomes
                    if (this.selectedType === 'name') {
                        this.historyNames = [];
                    }
                    

                    // Informar ao usuário que os sorteios foram resetados
                    Swal.fire({
                        title: 'Sorteios Resetados',
                        text: 'Os sorteios foram resetados com sucesso.',
                        icon: 'success',
                        confirmButtonText: 'OK',
                        timer: 2500,
                        timerProgressBar: true,
                        showConfirmButton: true
                    });
                },
                goToHome() {
                    this.step = 1; // Voltar à página inicial
                    this.selectedType = null; // Resetar o tipo de sorteio
                    this.quantity = 1; // Resetar a quantidade
                    this.minNumber = 1; // Resetar número mínimo
                    this.maxNumber = 100; // Resetar número máximo
                    this.repeatNumbers = false; // Resetar opção de repetir números
                    this.namesInput = ''; // Resetar entrada de nomes
                    this.repeatNames = false; // Resetar opção de repetir nomes
                    this.historyNumbers = []; // Limpar histórico de números
                    this.historyNames = []; // Limpar histórico de nomes
                },
                showHelp(field) {
                    let helpText = '';

                    // Adicione textos informativos para cada campo conforme necessário
                    switch (field) {
                        case 'quantity':
                            helpText = 'Informe a quantidade de números a serem sorteados.';
                            break;
                        case 'minNumber':
                            helpText = 'Informe o número mínimo para o sorteio.';
                            break;
                        case 'maxNumber':
                            helpText = 'Informe o número máximo para o sorteio.';
                            break;
                        case 'repeatNumbers':
                            helpText = 'Marque esta opção se deseja permitir repetição de números no sorteio.';
                            break;
                        case 'namesInput':
                            helpText = 'Digite os nomes dos participantes separados por vírgula.';
                            break;
                        case 'repeatNames':
                            helpText = 'Marque esta opção se deseja permitir repetição de nomes no sorteio.';
                            break;
                            // Adicione outros casos conforme necessário
                        default:
                            helpText = 'Texto de ajuda genérico.';
                            break;
                    }

                    // Exibir alert temporizado com o texto informativo
                    Swal.fire({
                        title: 'Ajuda',
                        text: helpText,
                        icon: 'info',
                        timer: 3000,
                        timerProgressBar: true,
                    });
                },
            },
            created() {
                this.year = new Date().getFullYear();
            },
            mounted() {
            },
            updated() {
            }
        });

        app.mount('#app');
    </script>
</body>

</html>